/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
  font-family: 'Lato', sans-serif
  font-weight: 300; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 5px 0 !important; }

.top-nav-collapse {
  background-color: #000000; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #000000; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #000000; }

/* Fonts */

h1 {
    font-size: 7rem;
    font-family: 'Cookie', sans-serif;
    font-weight: 400;
}

p.heroSubtext {
	font-family: 'Poiret One', serif;
	font-size: 2rem;
	margin-bottom: 0;
}

p.heroSubtext_smaller {
	font-family: 'Poiret One', serif;
	font-size: 1.4rem;
	margin-bottom: 2rem;
}

.hero-h1 {
    margin-bottom: 0;
}